app='bs://f07de86f774d0c62f241c68ac3cb2317758cb6f0'
remote_url='http://hub.browserstack.com/wd/hub'
userName='name...'
accessKey='key...'
projectName='First Python project'
buildName='browserstack-build-1'
sessionName='BStack first_test'
